<!DOCTYPE html>
<html lang="en">
  <%- include("head.ejs", { title: "Fin" }) %>
  <body>
    <%- include("navbar.ejs") %>

    <style>
      h1 {
				font-size: 4rem;
				text-align: center;
			  margin-bottom: 15px;
      }

			p {
				text-align: center;
				font-size: 1.3rem;
			}
    </style>

    <div class="body-container">
			<div class="flex-container">
				<div>
					<h1>IntraSudo v1.0 has ended</h1>
					<p>View the <a href="/leaderboard">leaderboard</a> here.</p>
				</div>
      </div>
    </div>

    <%- include("footer.ejs") %>
  </body>
</html>
