<!DOCTYPE html>
<html lang="en">
  <%- include("head.ejs", {title: "Congratulations &#127881;"}) %>
  <body>
    <%- include("navbar.ejs") %>

    <div class="body-container">
      <div class="flex-container" style="flex-direction: column;">
        <h1 style="margin-bottom: 15px; font-size: 3rem;">
          Congratulations &#127881;
        </h1>
        <p style="font-size: 1.5rem; width: 800px; text-align: center;">
          You have finished all the levels currently available!
          <a href="https://m.me/sh4shw4t" target="__blank">Message us</a> with
          feedback for the next ones we make!
        </p>
      </div>
    </div>

    <%- include("footer.ejs") %>
  </body>
</html>
