<nav>
  <div class="left">
    <a href="/"><img src="/logo-blue.png" alt="Intrasudo"/></a>
  </div>
  <div class="right">
    <a href="/leaderboard">Leaderboard</a>
    <% if(authenticated) { %>
    <a href="/play">Play</a>
    <% if(user.admin) { %>
    <a href="/levels">Levels</a>
    <% } %>
    <a href="/auth/logout">Logout</a>
    <% } %>
  </div>
</nav>
